<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <title>SpringJotto</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.4/css/bootstrap.min.css}"
          rel="stylesheet" media="screen" />
    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"
            th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>
    <link href="../static/css/index.css"
          th:href="@{css/index.css}" rel="stylesheet" media="screen"/>
</head>
<body>
<div class="container">
    <div class="jumbotron">
        <img src="../static/images/spring_jotto.png" width="1000"
             th:src="@{images/spring_jotto.png}"/>

        <div id="headerDiv"><h1>The Spring-Powered Jotto</h1></div>
        <br>
        <div id="loginButtonDiv"><button id="loginButton" type="button" class="btn btn-primary btn-lg">Login/Sign Up</button></div>
    </div>
</div>

</body>
</html>