<!DOCTYPE html>
<html
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
  lang="en"
>
  <head>
    <link
      href="../static/css/game.css"
      th:href="@{css/game.css}"
      rel="stylesheet"
      media="screen"
    />
    <meta charset="UTF-8" />
    <title>Jotto</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <!--
    <link
    href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    rel="stylesheet"/>
   -->

    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
      integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css"
    />
    <script src="http://code.jquery.com/jquery.js"></script>
    <script
      type="text/javascript"
      src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"
    ></script>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Custom fonts for this template -->
    <link
      href="vendor/fontawesome-free/css/all.min.css"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Montserrat:400,700"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Kaushan+Script"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700"
      rel="stylesheet"
      type="text/css"
    />
  </head>

  <body>
    <script type="text/javascript"></script>

    <section>
      <div class="container-fluid">
        <button onclick="goBack()">Go Back to Menu</button>

        <script>
          function goBack() {
            window.history.back();
          }
        </script>

        <div class="container">
          <div class="row">
            <!-- START COMPUTER -->

            <div class="col-md-6">
              <div class="card text-center">
                <div class="title">
                  <i class="fa fa-robot" aria-hidden="true"></i>
                  <h2>Computer</h2>
                </div>

                <div class="col-md-12">
                  <table class="wordTable">
                    <tbody>
                      <tr>
                        <td><input type="text" class="form-control" /></td>
                        <td><input type="text" class="form-control" /></td>
                        <td><input type="text" class="form-control" /></td>
                        <td><input type="text" class="form-control" /></td>
                        <td><input type="text" class="form-control" /></td>
                      </tr>
                    </tbody>
                  </table>
                </div>

                <div class="option">
                  <table class="Table">
                    <thead>
                      <tr>
                        <th>#</th>
                        <th>WORD</th>
                        <th>COUNT</th>
                      </tr>
                    </thead>
                    <tbody id="computer_table"></tbody>
                  </table>
                </div>
              </div>
            </div>
            <!-- END COMPUTER -->

            <!-- START USER -->
            <div class="col-md-6">
              <div class="card text-center">
                <div class="title">
                  <div class="row">
                    <i class="fa fa-user" aria-hidden="true"></i>
                    <!-- <a href="#">Hint</a>-->
                  </div>
                  <h2>User</h2>
                </div>

                <div class="col-md-12">
                  <table class="wordTable">
                    <tbody>
                      <tr>
                        <td><input type="text" class="form-control" /></td>
                        <td><input type="text" class="form-control" /></td>
                        <td><input type="text" class="form-control" /></td>
                        <td><input type="text" class="form-control" /></td>
                        <td><input type="text" class="form-control" /></td>
                      </tr>
                    </tbody>
                  </table>
                </div>

                <div class="option">
                  <table class="Table" id="userGuessTable">
                    <thead>
                      <tr>
                        <th>#</th>
                        <th>WORD</th>
                        <th>COUNT</th>
                      </tr>
                    </thead>
                    <tbody id="user_table">


                    </tbody>
                  </table>
                </div>

                <div>
                  <table class="letterboard">
                    <tr>
                      <td>A</td>
                      <td>B</td>
                      <td>C</td>

                      <td>D</td>
                      <td>E</td>
                      <td>F</td>

                      <td>G</td>
                      <td>H</td>
                      <td>I</td>

                      <td>J</td>
                      <td>K</td>
                      <td>L</td>

                      <td>M</td>
                    </tr>

                    <tr>
                      <td>N</td>
                      <td>O</td>
                      <td>P</td>

                      <td>Q</td>
                      <td>R</td>
                      <td>S</td>

                      <td>T</td>
                      <td>U</td>
                      <td>V</td>

                      <td>W</td>
                      <td>X</td>
                      <td>Y</td>

                      <td>Z</td>
                    </tr>
                  </table>
                </div>

                <div class="inputDiv">
                  <form class="form-inline">
                    <table class="inputTable">
                      <tbody>
                        <tr>
                          <td>
                            <input
                              type="text"
                              name="letter_1"
                              id="letter_1"
                              required
                              pattern="[A-Za-z]"
                              maxlength="1"
                              size="2;"
                              class="form-control"
                            />
                          </td>

                          <td>
                            <input
                              type="text"
                              name="letter_2"
                              id="letter_2"
                              required
                              pattern="[A-Za-z]"
                              maxlength="1"
                              size="2;"
                              class="form-control"
                            />
                          </td>

                          <td>
                            <input
                              type="text"
                              name="letter_3"
                              id="letter_3"
                              required
                              pattern="[A-Za-z]"
                              maxlength="1"
                              size="2;"
                              class="form-control"
                            />
                          </td>

                          <td>
                            <input
                              type="text"
                              name="letter_4"
                              id="letter_4"
                              required
                              pattern="[A-Za-z]"
                              maxlength="1"
                              size="2;"
                              class="form-control"
                            />
                          </td>

                          <td>
                            <input
                              type="text"
                              name="letter_5"
                              id="letter_5"
                              required
                              pattern="[A-Za-z]"
                              maxlength="1"
                              size="2;"
                              class="form-control"
                            />
                          </td>
                        </tr>
                      </tbody>
                    </table>
                    <input onclick="userGuess()" type="submit" value="Enter" />
                  </form>

                  <script
                    type="text/javascript"
                    src="../static/js/game.js"
                    th:src="@{/js/game.js}"
                  ></script>

                  <script
                    src="../static/js/input.js"
                    th:src="@{/js/input.js}"
                  ></script>
                </div>
              </div>
            </div>
            <!-- END USER -->
          </div>
        </div>
      </div>
    </section>

    <!--MODALS-->

    <!-- Secret word input modal -->
    <div
      class="modal fade"
      id="secretWordModal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="secretWordModalLabel"
    >
      <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content ">
          <div class="modal-header">
            <h2 class="modal-title text-center" id="secretWordModalLabel">
              🐘 Jotto 🐘
            </h2>
          </div>
          <form name="" method="get" action="/is_valid()">
            <div class="modal-body text-center">
              <label for="label" class="col-form-label"
                >Enter your secret word.</label
              >
              <input
                type="text"
                id="secret_word"
                class="form-control"
                placeholder="5 letter word without repeating letters"
                maxlength="5"
              />
            </div>
            <div class="modal-footer">
              <div class="text-center">
                <button
                  type="submit"
                  formaction="/menu"
                  th:formaction="@{/menu}"
                  class="btn btn-default"
                >
                  Close
                </button>

                <button
                  type="button"
                  class="btn btn-primary"
                  data-dismiss="modal"
                >
                  OK
                </button>
                <!--<button class="btn btn-primary">OK</button>
                      <button type="submit" class="btn btn-primary">OK</button>-->
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <!-- END Secret word input modal -->

    <!-- Winner modal -->
    <div
      class="modal fade"
      id="winnerModal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="winnerModalLabel"
    >
      <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h2 class="modal-title text-center" id="winnerModalLabel">
              🐘 Jotto 🐘
            </h2>
          </div>
          <form name="" method="get" action="/menu" th:action="@{/menu}">
            <div class="modal-body">
              <p>
                &lt;Winner&gt; won!
              </p>
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-default">
                Close
              </button>
              <!-- formaction="/saveData" th:formaction="@{/saveData}" for example-->
              <button type="submit" class="btn btn-primary">
                OK
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <!-- END Winner modal -->

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Contact form JavaScript -->
    <script src="js/jqBootstrapValidation.js"></script>
    <script src="js/contact_me.js"></script>

    <!-- Custom scripts for this template -->
    <script src="js/agency.min.js"></script>
  </body>
</html>

<!--
            <script>
        
              var word = prompt("Enter your secret word.", "5 letter word without repeating letters"); // change msg
        
              if (word == null) {
                // Simulate an HTTP redirect:
                window.location.replace("/menu");
              }
        
              while (word === "") { // + validity of word
                txt = "Your secret word is not valid. Try again.";
                window.prompt(txt, "5 letter word without repeating letters");
              }
        
              window.alert("Let's play!");
        
            </script>
          -->
