<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3" lang="en">
  <head>
    <link href="../static/css/game.css"
          th:href="@{css/game.css}" rel="stylesheet" media="screen"/>
    <meta charset="UTF-8" />
    <title>Jotto</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
      integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
      crossorigin="anonymous"
    />


<!-- Bootstrap core CSS -->
<link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

<!-- Custom fonts for this template -->
<link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
<link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet'
  type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

<!-- Custom styles for this template -->
<link href="css/index.css" rel="stylesheet">
<!-- <link href="css/modal-1.css" rel="stylesheet">-->
<link href="css/game.css" rel="stylesheet">
<link href="css/login.css" rel="stylesheet">

</head>
  <body>

    <section>

      <div class="container-fluid">

     <button onclick="goBack()">Go Back to Menu</button>

        <script>
          function goBack() {
            //window.alert("hello");
            window.history.back();
          }
        </script>

        <script>

          var word = prompt("Enter your secret word.", "5 letter word without repeating letters"); // change msg


          if (word == null) {
            // Simulate an HTTP redirect:
            window.location.replace("/menu");
          }

          while (word === "") { // + validity of word
            txt = "Your secret word is not valid. Try again.";
            window.prompt(txt, "5 letter word without repeating letters");
          }



          window.alert("Let's play!");

        </script>

        <div class="container">
        <div class="row">


            <!-- START COMPUTER -->

            <div class="col-md-6">

              <div class="card text-center">
                <div class="title">
                  <i class="fa fa-robot" aria-hidden="true"></i>
                  <h2>Computer</h2>
                </div>

                <div class="col-md-12">
                  <table class="wordTable">
                    <tbody>
                      <tr>
                        <td><input type="text" class="form-control" /></td>
                        <td><input type="text" class="form-control" /></td>
                        <td><input type="text" class="form-control" /></td>
                        <td><input type="text" class="form-control" /></td>
                        <td><input type="text" class="form-control" /></td>
                      </tr>
                    </tbody>
                  </table>
                </div>

                <div class="option">
                  <table class="Table">
                    <thead>
                      <tr>
                        <th>#</th>
                        <th>WORD</th>
                        <th>COUNT</th>
                      </tr>
                    </thead>
                    <tbody id="computer_table">

                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <!-- END COMPUTER -->

            <!-- START USER -->
            <div class="col-md-6">
              <div class="card text-center">
                <div class="title">
                  <div class="row">
                    <i class="fa fa-user" aria-hidden="true"></i>
                    <!-- <a href="#">Hint</a>-->
                  </div>
                  <h2>User</h2>
                </div>

                <div class="col-md-12">
                  <table class="wordTable">
                    <tbody>
                      <tr>
                        <td><input type="text" class="form-control" /></td>
                        <td><input type="text" class="form-control" /></td>
                        <td><input type="text" class="form-control" /></td>
                        <td><input type="text" class="form-control" /></td>
                        <td><input type="text" class="form-control" /></td>
                      </tr>
                    </tbody>
                  </table>
                </div>

                <div class="option">
                  <table class="Table" id="userGuessTable">
                    <thead>
                      <tr>
                        <th>#</th>
                        <th>WORD</th>
                        <th>COUNT</th>
                      </tr>
                    </thead>
                    <tbody id="user_table">

                    </tbody>
                  </table>

                  <!--
<div>
  <a class="portfolio-link" data-toggle="modal" href="#portfolioModal1">
    <div class="portfolio-hover">
      <div class="portfolio-hover-content">
        <!-<i class="fas fa-plus fa-3x"></i>
      </div>
    </div>
    <input type="submit" value="Enter" />
  </a>
</div>
-->

                </div>

                <div>
                  <table class="letterboard">
                    <tr>
                      <td>A</td>
                      <td>B</td>
                      <td>C</td>

                      <td>D</td>
                      <td>E</td>
                      <td>F</td>

                      <td>G</td>
                      <td>H</td>
                      <td>I</td>

                      <td>J</td>
                      <td>K</td>
                      <td>L</td>

                      <td>M</td>
                    </tr>

                    <tr>
                      <td>N</td>
                      <td>O</td>
                      <td>P</td>

                      <td>Q</td>
                      <td>R</td>
                      <td>S</td>

                      <td>T</td>
                      <td>U</td>
                      <td>V</td>

                      <td>W</td>
                      <td>X</td>
                      <td>Y</td>

                      <td>Z</td>
                    </tr>
                    <script>
                      document.querySelectorAll(".letterboard td").forEach(e =>
                        e.addEventListener("click", function() {
                          if (this.style.backgroundColor == "green") {
                            this.style.backgroundColor = "red";

                            //window.alert(this.textContent.trim());
                          } else if (this.style.backgroundColor == "red") {
                            this.style.backgroundColor = "white";

                          } else if (this.style.backgroundColor == "white") {
                            this.style.backgroundColor = "green";

                          } else {
                            // first click
                            this.style.backgroundColor = "green";

                          }
                          color_code(
                            this.textContent.trim(),
                            this.style.backgroundColor
                          );
                        })
                      );

                      function color_code(letter, color) {
                        var table = document.getElementById("userGuessTable");
                        for (var r = 1, n = table.rows.length; r < n; r++) {
                          // skip header
                          str = table.rows[r].cells[1].innerHTML;
                          /*
                          window.alert(
                            "this is = " +
                              table.rows[r].cells[1].innerHTML +
                              "letter is " +
                              letter
                          );
*/
                          if (str.includes(letter)) {
                            /*
                            window.alert(
                              str + "contains " + letter + " " + str.charAt(0)
                            );
*/
                            for (var i = 0; i < str.length; i++) {
                              if (str.charAt(i) === letter) {
                                table.rows[r].cells[1].innerHTML =
                                  str.substring(0, i) +
                                  '<span style="background-color:' +
                                  color +
                                  '">' +
                                  str.charAt(i) +
                                  "</span>" +
                                  str.substring(i + 1);
                              }
                            }
                          }
                          //break;
                        }
                      }
                    </script>
                  </table>
                </div>

                <div class="inputDiv">
                  <form class="form-inline">
                    <table class="inputTable">
                      <tbody>
                        <tr>
                          <td>
                            <input
                              type="text"
                              name="letter_1"
                              id="letter_1"
                              required
                              pattern="[A-Za-z]"
                              maxlength="1"
                              size="2;"
                              class="form-control"
                            />
                          </td>

                          <td>
                            <input
                              type="text"
                              name="letter_2"
                              id="letter_2"
                              required
                              pattern="[A-Za-z]"
                              maxlength="1"
                              size="2;"
                              class="form-control"
                            />
                          </td>

                          <td>
                            <input
                              type="text"
                              name="letter_3"
                              id="letter_3"
                              required
                              pattern="[A-Za-z]"
                              maxlength="1"
                              size="2;"
                              class="form-control"
                            />
                          </td>

                          <td>
                            <input
                              type="text"
                              name="letter_4"
                              id="letter_4"
                              required
                              pattern="[A-Za-z]"
                              maxlength="1"
                              size="2;"
                              class="form-control"
                            />
                          </td>

                          <td>
                            <input
                              type="text"
                              name="letter_5"
                              id="letter_5"
                              required
                              pattern="[A-Za-z]"
                              maxlength="1"
                              size="2;"
                              class="form-control"
                            />
                          </td>
                        </tr>
                      </tbody>
                    </table>
                    <input type="submit" value="Enter" />
                  </form>
                  <script type="text/javascript"
                          th:src="@{/js/game.js}"></script>
                </div>
              </div>
            </div>
            <!-- END USER -->




          </div>
        </div>
      </div>
    </section>

    <!-- Modal 1 -->
    <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="close-modal" data-dismiss="modal">
            <div class="lr">
              <div class="rl"></div>
            </div>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-lg-8 mx-auto">
                <div class="modal-body">
                  <!-- Project Details Go Here -->
                  <h2 class="text-uppercase">Project Name</h2>
                  <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                  <img class="img-fluid d-block mx-auto" th:src="@{img/portfolio/01-full.jpg}" alt="">
                  <p>Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est
                    blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia
                    expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!</p>
                  <ul class="list-inline">
                    <li>Date: January 2017</li>
                    <li>Client: Threads</li>
                    <li>Category: Illustration</li>
                  </ul>
                  <button class="btn btn-primary" data-dismiss="modal" type="button">
                    <i class="fas fa-times"></i>
                    Close Project</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Contact form JavaScript -->
  <script src="js/jqBootstrapValidation.js"></script>
  <script src="js/contact_me.js"></script>

  <!-- Custom scripts for this template -->
  <script src="js/agency.min.js"></script>


<!--<script>

Winner Msg
  window.alert("You won!");
  window.alert("Computer won.");
  go back

</script> -->


  </body>
</html>
