<!DOCTYPE html>
<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
        lang="en">

<head>
  <link
          href="../static/css/history.css"
          th:href="@{css/history.css}"
          rel="stylesheet"
          media="screen"
  />
</head>

<button onclick="goBack()">Go Back to Menu</button>

<script>
  function goBack() {
    window.history.back();
  }
</script>

<div id="content">
  <h1>History</h1>
  <body>

    <table>
      <tr>
        <th>vs_USER</th>
        <th>DATE</th>
      </tr>
      <tr th:each="game,iterStat : ${games}" th:class="${iterStat.odd}? 'odd'">
        <td th:text="${game.player1}"></td>
        <td th:text="${game.date}"></td>

      </tr>
    </table>
  </body>


</div>
</html>