<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <link href="../static/css/menu.css"
          th:href="@{css/menu.css}" rel="stylesheet" media="screen"/>
</head>

<div class="flex">
<form action="/game" method="GET">
    <div class="flex dark">
        <input type="submit" class="bttn-dark" value = "Start a New Game"/>
    </div>
</form>
</div>

<div class="flex">
<form action="/history" method="GET">
    <div class="flex dark">
        <input type="submit" class="bttn-dark" value = "View History"/>
    </div>
</form>
</div>

<div class="flex">
<form action="/signout" method="GET">
    <div class="flex dark">
        <input type="submit" class="bttn-dark" value = "Sign Out"/>
    </div>
</form>
</div>

<!--
<div class="flex dark">
<a href="#0" class="bttn-dark">Sign Out</a>
</div>
-->

</body>   

</html>